<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- popular languages that Data Scientists
- Data Science Tools
- Libraries used by Data Scientists
- Basic aritmethic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn (for ML)
2. Pandas (for data manipulation)
3. Mathplotlib (for data visualization)

Data Science Tools

1. Apache spark
2. RStudio
3. TensorFlow

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [11]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2> Author:</h2>
Iv√°n Romero